.signInContainer {
    background-color: #efefee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signInContainer .column .header img {
    width: 100px;
}

.signInContainer .column {
    flex-grow: 0;
    width: 450px;
    padding: 20px 35px;
    max-height: 100%;
    overflow-y: auto;
}

.signInContainer .column .header {
    padding: 20px 0;
}

.signInContainer .column .header h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding-bottom: 0;
    padding-top: 16px;
}

.signInContainer .column .header span {
    font-size: 14px;
}

.signInContainer .column .loginForm {
    padding-top: 24px;
}

.signInContainer .column .loginForm form {
    display: flex;
    flex-direction: column;
}

.signInContainer .column .loginForm form input[type="text"],
.signInContainer .column .loginForm form input[type="email"],
.signInContainer .column .loginForm form input[type="password"] {
    font-size: 14px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #dedede;
}

.signInContainer .column .loginForm form input[type="submit"] {
    background: #4285f4;
    color: #fff;
    height: 36px;
    width: 88px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}

.signInMessage {
    font-size: 14px;
    font-weight: 400;
    color: #212529;
}